/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}

div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    /* color:#b7702f; */
}
.fl-module-content .storename li .address a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}

div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}

.flooring-links .uabb-infobox-text.uabb-text-editor a {
    color: #C50000;
    display: inline-block;
}

.logo {
    z-index: 99999;
}

/* header mega menu */
header .header-menu .menu {
    position: static;
}
header .header-menu .menu li.mega-menu {
    position: static;
}
header .header-menu .menu li.mega-menu .sub-menu {
    top: inherit !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    margin: 0 20px 0 50px!important;
    background: #F5F5F5;
    border: 0;
    z-index: 999;
    box-shadow: none;
}
header .header-menu .menu li.mega-menu ul.sub-menu li {
    width: 100%;
}
header .header-menu .menu li.mega-menu .sub-menu li .fl-row-content-wrap {
    margin-top: 0px!important;
}
header .header-menu .menu li.mega-menu .sub-menu li img.uabb-photo-img{
    max-height: inherit;
}
header.fl-builder-content.fl-theme-builder-header-sticky.fl-theme-builder-header-scrolled.fl-theme-builder-header-shrink img.uabb-photo-img{
    max-height: 100% !important;
}

/* header mega menu */

.header-menu ul#menu-mega-menu-header {
    background: #fff;
}
.header-menu  .uabb-toggle-arrows .uabb-menu-toggle:before{
    color: #db2a34 !important;
}
.header-menu ul.menu li.flooring-products {
    padding-left: 55px;
}
.header-location .location_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 52px;
}
.header-location .fl-module-content.fl-node-content {
    background: #db2a34;
}
.header-location .fl-module-content.fl-node-content p{
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}
.top-bar-btn .fl-button-group-button {
    z-index: 9;
}
p.location-name{
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 20px;
}
.footer-loc ul.storename {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-location h2.entry-title.sfnstoretitle {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.60px;
    color: #fff;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 240px;
}
h2.entry-title.sfnstoretitle {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.60px;
    color: #DB2A34;
    margin: 0;
}
.header-location  ul.storename{
    margin: 0;
}
.footer-address ul.storename {
    margin: 0;
    padding: 0 !important;
}

.footer-address .phone span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

/* Location select box open*/

.header-location {
    position: relative;
    cursor: pointer;
}
.header-location .fl-icon-text.fl-icon-text-wrap {
    padding-left: 5px;
}
div#ajaxstorelisting {
    background: #fff;
    padding: 20px !important;
    /* margin-top: 18px !important; */
    position: absolute;
    top: 63px;
    left: 0;
    right: 20px;
    overflow-y: scroll;
    max-height: 360px;
    display: none;
    z-index: 99;
}
div#ajaxstorelisting::-webkit-scrollbar {
    width: 0.7em !important;
}
div#ajaxstorelisting::-webkit-scrollbar-thumb {
    background-color: #db2a34 !important;
}
div#ajaxstorelisting::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
}


.header-location .fl-icon-wrap {
    display: flex;
    justify-content: start; 
    padding: 6px 10px 5px 0;
    align-items: center;
}   
.location_div .bb_location_name{
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #fff;
    font-family: "Luckiest Guy", sans-serif;
    /* white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
    width: 100%;
    max-width: 230px; */
    display: block; 
    text-transform: uppercase;
}
.location_div .bb_loc_address{
    color: #FFFFFF;
    font-family: Jost, sans-serif;
    font-size: 12px;
    letter-spacing: 0.45px;
    line-height: 18px;

}
.location_div span.bb_loc_phone{
    color: #FFFFFF;
    font-family: Jost, sans-serif;
    font-size: 12px;
    letter-spacing: 0.45px;
    line-height: 18px;
}
.location-section {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}
.location-section  .makemystore_header {
    margin-right: 10px;
    margin-top: 3px;
    position: relative;
}
.location-section  .makemystore_header input {
    visibility: hidden;
    position: absolute;
}
.location-section  .makemystore_header input+label:before {
    content: '';
    border: 1px solid #979797;
    background-color: #F5F5F5;
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
.location-section  .makemystore_header input+label.activeStore:after, .location-section  .makemystore_header input:checked+label:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 5px;
    background: #db2a34;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    top: 5px;
}

.location-section .location-info-section a.location-name {
    font-size: 14px;
    color: #000 !important;
    font-family: "Luckiest Guy", sans-serif;

}
.location-section .location-info-section p.store-add {
    font-size: 11px;
    line-height: 15px;
    color: #ABABAB !important;
}
.location-section.activebb .location-info-section a.location-name{
    color: #DB2A34 !important;
}
.location-section.activebb .location-info-section p.store-add{
    color: #000 !important;
    font-weight: 600;
}

.location-section .location-info-section p.store-phone a.phone_bb {
    color: #DB2A34;
    font-size: 12px;
    letter-spacing: 0.45px;
    line-height: 18px;
}
.location-section .location-info-section p.store-phone a.phone_bb:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 14px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px !important;
}


/* Location select box end*/



/* search open*/
div#sfnlocator-wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-right: 30px;
}
#wpsl-result-list {
    width: 100% !important;
}
.location-icon-main .find_wrap p.location-name, .location-icon-main .find_wrap .bb_location_name {
    font-size: 16px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #DB2A34 !important;
    line-height: 20px;
    margin: 0 0;
    letter-spacing: 0.6px;
}
.location-icon-main .fl-icon-text {
    padding-left: 5px;
}
.location-icon-main .find_wrap span.location-add, .location-icon-main .find_wrap .bb_loc_address {
    font-size: 12px;
    line-height: 18px;
    color: #484848;
    letter-spacing: 0.45px;
}
.wpsl-search{
    background: transparent !important;
    padding-top: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input {
    border: 1px solid #000;
    border-radius: 3px;
    width: 100%;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input:focus {
    border: 1px solid #DB2A34;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input {
    float: none;
    width: 100%;
    display: block;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div {
    float: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div label{
    width: 100%;
    display: block;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 5px;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform  .wpsl-select-wrap {
    width: 70%;
    display: unset;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius {
    width: 95%;
    display: block;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius .wpsl-dropdown {
    width: 100%;
    border: 1px solid #474747;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius label{
    display: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-search-btn-wrap {
    width: 30%;
    display: unset;
    margin: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
    background: #0C141D;
    color: #fff;
    border-radius: 3px;
    display: block;
    margin: 0;
    padding: 6px 10px;
    text-transform: uppercase !important;
    letter-spacing: 0.75px;
}
/* search end */
.homepage_locationStore #wpsl-stores, .homepage_locationStore #wpsl-direction-details, .homepage_locationStore #wpsl-gmap, .homepage_locationStore #wpsl-stores{
    height: 600px !important;
}
div#wpsl-stores .wpsl-store-location .location_title_wrapper {
    color: #000;
}
div#wpsl-stores .wpsl-store-location .your_store {
    font-size: 14px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #000;
}
div#wpsl-stores .wpsl-store-location h3{
    margin: 0;
    width: 70%;
}
div#wpsl-stores li.mystore_location .wpsl-store-location h3 a {
    color: #db2a34;
}
div#wpsl-stores .wpsl-store-location h3 a {
    font-size: 16px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 18px;
    display: block;
}

div#wpsl-stores .wpsl-store-location span {
    color: #000;
    font-size: 14px;
    line-height: 18px;  
}
div#wpsl-stores .wpsl-store-location span.wpsl-street {
   line-height: 18px;
   margin-bottom: -5px;
}
div#wpsl-stores .wpsl-store-location span.distance_unit {
    letter-spacing: 0.75px;
    font-size: 14px;
    line-height: 17px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    float: right;
    margin: -18px 0 0 !important;
}

div#wpsl-stores .wpsl-store-location p.wpsl-contact-details {
    display: flex;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span{
    margin-right: 10px;
    color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span a{
    color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details a.site_loc_url{
    color:#db2a34 ;
}
div#wpsl-stores li.mystore_location .wpsl-store-location .Coupon-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper {
    display: flex;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
    padding: 10px;
    font-size: 16px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    background: #000;
    outline: none;
    border: 0;
    margin: 0 10px 10px 0;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button:hover {
    background: #db2a34;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button {
    background: #db2a34;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper  .visit_store.redbutton a.fl-button {
    background: #DB2A34;
}

div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button:hover {
    background: #000;
}
div#wpsl-stores .wpsl-store-location {
    position: relative;
}
.location_title_wrapper h3 a {
    font-size: 14px;
    outline: none;
}
.wpsl-info-window.custominfo_wrapper .store_thumb{
    float: left;
    width: 40%;
}
.wpsl-info-window.custominfo_wrapper .info_wrapper {
    float: right;
    width: 60%;
}

#wpsl-gmap img, .wpsl-gmap-canvas img{
    width: 100%;
}
.wpsl-info-window .info_wrapper .location_title_wrapper {
    padding-top: 10px;
}
.wpsl-info-window .info_wrapper .location_title_wrapper h3{
    margin: 0;
}
.wpsl-info-window .info_wrapper .infomap_div {
    display: flex;
}

.wpsl-info-window .info_wrapper .location_title_wrapper h3 a {
    font-size: 12px;
    line-height: 14px;
    color: #DB2A34;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    display: block;
    margin: 0 0 5px;
}
.wpsl-info-window i.ua-icon.ua-icon-location-pin {
    color: #DB2A34;
    font-size: 24px;
}
.wpsl-info-window span, .wpsl-more-info-listings span{
    font-size: 9px;
    line-height: 15px;
}
.wpsl-info-window span.store_msg {
    margin-top: 10px;
}
#wpsl-wrap .wpsl-info-window p{
    font-size: 10px;
}
#wpsl-gmap .gm-style-iw.gm-style-iw-c .wpsl-info-window {
    max-width: 350px !important;
}
button.gm-ui-hover-effect {
    top: 0px !important;
    right: 0px !important;
}

#home_page_storelocator .wpsl-search.wpsl-clearfix {
    display: none;
}
.custominfo_wrapper a.wpsl-directions {
    display: none;
}
span.wpsl-country {
    display: none;
}
.product-color-variationPlp.plp_slide_wrap {
    display: none;
}
.checked {
  color: orange;
}
#wpsl-base-gmap_0 {
    height: 708px !important;
    width: 100%;
}
.find-a-retailer-row div#wpsl-gmap {
    height: 600px !important;
}
.find-a-retailer-row #wpsl-stores {
    height: 460px !important;
}
/* Vendors */
div#ourVendors .uabb-infobox-text.uabb-text-editor > p {
    display: none;
}
div#ourVendors ul.vendor_brand_menu_list {
    width: 100%;
}
div#ourVendors ul.vendor_brand_menu_list li{
    /* width: 50%;
    float: left; */
    list-style: none;
}
/* div#ourVendors ul.vendor_brand_menu_list li:nth-child(2n+1) {
    clear: left;
} */
/* Vendors */

/* Store location page  */
.header-banner-image-bg {
    position: relative;
}
.header-banner-image-bg .header-banner-image::after{
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.35);
}
.header-banner-image {
    background: url(https://bigbobsflooring-stg.mm-dev.agency/wp-content/uploads/2021/12/Group09.png) no-repeat 0 0;
    padding: 129px 0;
    background-size: cover;
}
.header-sale-image {
    margin-bottom: 60px;
}
.storelocation .container {
    max-width: 1300px;
}
.storeloc-content .entry-title.sfnstoretitle {
    font-size: 16px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #DB2A34;
    line-height: 20px;
    margin: 20px 0 0;
}
.storeloc-content span.autorized {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    display: block;
    margin: 0;
    color: #484848;
}
.storeloc-content span.siteUrl a {
    color: #DB2A34;
    font-size: 14px;
    line-height: 20px;
    display: block;
    letter-spacing: 0.53px;
    margin: 20px 0;
}
.storeloc-content .store_reviews {
    margin: 20px 0;
}
.storeloc-content .store_reviews span.fa.fa-star.checked {
    margin-right: 5px;
}
.storeloc-content  span.phNo {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #0C141D;
    font-weight: 600;
    margin: 0;
}
span.number_review{
    color: #DB2A34;
}
.storeloc-content span.phNoDis a{
    font-size: 16px;
    line-height: 20px;
    color: #DB2A34;
    letter-spacing: 0.65px;
    font-weight: 600;
    margin: 10px 0 40px;
    display: block;
}
.storeloc-content .storehours span {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #0C141D;
    font-weight: 600;
    margin: 0 0 10px;
}
.storeloc-content table.wpsl-opening-hours th, .storeloc-content table.wpsl-opening-hours td {
    color: #484848;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Jost, sans-serif;
}
.storeloc-content table.wpsl-opening-hours td.today_hour {
    color: #DB2A34 !important;
    font-weight: 600 !important;
}
.storeloc-content table.wpsl-opening-hours td.today_hour span, .storeloc-content table.wpsl-opening-hours td.today_hour time {
    display: inline-block;
    margin-right: 10px;
}
.storeloc-content .store_links_main {
    padding: 20px 0 40px;
}
.storeloc-content .store_links_main span.getLable {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #0C141D;
    letter-spacing: 0.45px;
    margin: 0 ;
    font-weight: 600;
}
.storeloc-content .store_links_main ul {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    align-items: center;
}
.storeloc-content .store_links_main ul li a {
    font-size: 14px;
    line-height: 20px;
    color: #DB2A34;
    letter-spacing: 0.45px;
    text-decoration: underline;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: Jost, sans-serif;

}
.storeloc-content .store_links_main ul li a:hover{
    color: #020050;
}
.storeloc-content .store_links_main ul li:last-child a{
    margin-right: 0;
}
.storeloc-content .store_links_main ul li a.button {
    background: none;
    padding: 0;
    outline: none;
    border: 0;
    color: #DB2A34;
}
.storeloc-content .store_links_main ul li a.button:hover{
    color: #000;
}
.storeloc-map .mapcon_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 20px;
}
.storeloc-map .mapcon_main .mapcon_left_flex {
    display: flex;
    align-items: center;
}
.storeloc-map .mapcon_main .mapcon_left_flex i.ua-icon.ua-icon-location-pin {
    color: #DB2A34;
    font-size: 30px;
    line-height: 30px;
    margin-right: 5px;
}
.storeloc-map .mapcon_main  h2.entry-title.sfnstoretitle {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.60px;
    color: #DB2A34;
    margin: 0;
}
.storeloc-map .mapcon_main span.add {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #484848;
}
.storeloc-content a.fl-button {
    width: 150px;

}
.storeloc-map .mapcon_main .mapcon_right a, .storeloc-content a.fl-button {
    padding: 10px;
    font-size: 16px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    border: 0;
    background: #db2a34;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    padding: 10px 25px;
    display: block;
    text-decoration: none !important;
    text-align: center;
}
.storeloc-map .mapcon_main .mapcon_right a:hover {
    background: #000;
    text-decoration: none;
}

.bottomsection {
    text-align: center;
    text-align: center;
    margin-bottom: 50px;
	margin-top: 50px;
}

.bottomsection h2 {
    color: #000;
    font-size: 45px;
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 0;
    line-height: 75px;
    margin-bottom: 25px;
}
.bottomsection p {
    color: #000000;
    font-family: Jost, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: left;
}


.location-customized .uabb-infobox-text.uabb-text-editor p {
    padding: 0;
    margin: 0;
}
ul.storename, ul.store-opening-hrs {
    list-style: none;
    padding: 0;
}

.location-customized ul.storename, .location-customized ul.store-opening-hrs {
    padding: 10px 0;
}
.location-customized ul.store-opening-hrs li{
    padding: 0 0 10px;
}
.location-customized ul.store-opening-hrs li span{
    color: #484848;
    font-size: 12px !important;
    line-height: 18px !important;
    letter-spacing: 0.45px !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-family: Jost, sans-serif !important;
}
.location-customized ul.store-opening-hrs li .today_hour {  
     padding-left: 5px;
     font-family: Jost, sans-serif !important;
 }
.location-customized ul.store-opening-hrs li .today_day {    
     font-weight: 600 !important;
     color: #DB2A34 !important;
     font-family: Jost, sans-serif !important;
 }
 .location-customized ul.store-opening-hrs li  span.today_hour {
    font-weight: 600 !important;
    color: #0C141D;
}
.location-add ul.storename .address a p {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #484848;
    margin: 0;
}
.location-customized ul.storename .phone a {
    font-family: Jost, sans-serif;
    font-weight: 600;

}
.store-opening-hrs-container ul.store-opening-hrs li{
    color: #484848;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Jost, sans-serif;
}
.location-add .mapcon_left_flex {
    display: flex;
    align-items: flex-start;
}
.location-add .mapcon_left_flex span.fl-icon br {
    display: none;
}
.location-add .mapcon_left_flex span.fl-icon i.ua-icon.ua-icon-location-pin {
    color: #DB2A34;
    font-size: 25px;
    margin-right: 5px;
}
.location-direction .fl-module-content ul.storename li .direction a{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.75px;
 }
 .locationMap ul.storename .map-container iframe {
    min-height: 800px !important;
}
.locationforms .gform_wrapper.gravity-theme .gf_progressbar_percentage.percentbar_blue {
    background-color: #020050;
    color: #fff;
}
.locationforms .gform_wrapper.gravity-theme .gf_progressbar {
    background-color: #F4F4F1 !important;
}
.locationforms .gform_wrapper.gravity-theme .ginput_container_date{
    /* justify-content: center; */
}
.locationforms .uabb-gf-style form .gform_body .gfield_label{
    border: 0;
}
.locationforms .gform_page_footer.top_label {
    text-align: center;
}
.gform_wrapper.gravity-theme .ginput_complex {
    align-items: center;
}
/* Store location page  */

/* PLP page customized changes */
.facet-wrap {
    display: block !important;
}
.product-plp-grid.product-grid.swatch a.fl-button.plp_box_btn {
    display: none !important;
}

.facetwp-facet.facetwp-type-dropdown select.facetwp-dropdown {
    border-radius: 4px;
    height: 69px;
    border-color: transparent;
    font-size: 14px;
    line-height: 20px;
    color: #0C141D;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.38);
    padding: 10px 20px;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap input.facetwp-search{
    border-radius: 4px;
    height: 69px;
    border-color: transparent;
    font-size: 14px;
    line-height: 20px;
    color: #0C141D;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.38);
    padding: 10px 50px 10px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px !important;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap {
    width: 100%;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap  .facetwp-icon {
    right: 10px;
}
.facet-wrap strong {
    font-size: 14px;
    line-height: 20px;
    color: #0C141D;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Jost, sans-serif;
    margin-bottom: 10px;
    display: block;
}
.searchfacet .facet-wrap{
    display: block;
}
.product-plp-grid .product-row .fl-post-grid-image {
    position: relative;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo {
    position: absolute;
    bottom: 0;
    z-index: 10;
    right: 5px;
    bottom: 10px;
    display: inline-block;
    width: auto!important;
    height: auto!important;
    padding: 10px !important;   
}

.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr{
    height: 56px;
    background-color: #141414!important;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    transition: all .6s;
    color: #fff;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-family: Jost, sans-serif;
    
}
.product-plp-grid .product-row .fl-post-grid-image #roomvo a.roomvo-stimr {
    width: 56px;
    padding: 0;
    border-radius: 100%;
}
.product-plp-grid .product-row .fl-post-grid-image #roomvo a.roomvo-stimr:hover {
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    background: #DB2A34 !important;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr i.fa.fa-camera {
    font-size: 25px;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr span.room_span {
    display: none;
    color: #fff;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr:hover span.room_span {
    display: block;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr:hover i.fa.fa-camera {
    margin-right: 10px;
}

.product-plp-grid .product-row .camera-image {
    position: absolute;
    bottom: 25px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 0;
    transition: width 1s;
    width: 55px;
	
}
.product-plp-grid .product-row .camera-image a.roomvo_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-plp-grid .product-row .camera-image p.view_room {
    display: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Jost;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0 0 0 10px;
	
}
.product-plp-grid .product-row .camera-image img {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    background: #000;
}
.product-plp-grid .product-row .camera-image:hover{
    background: #DB2A34;
    padding: 5px 20px;
    border-radius: 30px;
    width: 210px;
}
.product-plp-grid .product-row .camera-image:hover  p.view_room{
    display: block;
}
.product-plp-grid .product-row .bb_special, .product-plp-grid .product-row .bb_offer {
    position: absolute;
    top: 30px;
    left: -15px;
}
.product-plp-grid .product-row .bb_offer {
    display: none;
}
.product-plp-grid .product-row .bb_special, .product-plp-grid .product-row .bb_offer {
    border-radius: 4px;
    background-color: #DB2A34;
    box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
    padding: 10px 20px;
}
.product-plp-grid .product-row .bb_special p, .product-plp-grid .product-row .bb_offer p {
    color: #FFFFFE;
    font-family: "Luckiest Guy";
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 35px;
    margin: 0;
}


.product-plp-grid .product-row .product-grid.btn-grey h4 .collection_text{
    color: #db2a34 !important;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 0 10px;
}
.product-plp-grid .product-row .product-grid.btn-grey h4 .color_text{
    font-size: 30px;
    line-height: 30px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    color: #0F0F0F;
    margin: 0 0 20px;
    display: block;
}
.product-plp-grid .product-row .product-grid.btn-grey h4 .brand_text {
    text-transform: uppercase;
    color: #484848;
    font-size: 14px;
    letter-spacing: 1.21px;
    line-height: 20px;
    font-family: Jost, sans-serif;
    font-weight: 500;
}
.product-plp-grid .product-row .product-grid.btn-grey .product-variations1 h5 {
    color: #020050;
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
}
.facetwp-facet.facetwp-facet-load_more.facetwp-type-pager button.facetwp-load-more {
    height: 54px;
    width: 262px;
    border-radius: 4px;
    background-color: #DB2A34;
    box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
    color: #FFFFFF;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 24px;
    border: 0;
    text-transform: uppercase;
}
.facetwp-facet.facetwp-facet-load_more.facetwp-type-pager button.facetwp-load-more:hover {
    background-color: #000;
}

/* PLP page customized changes */


/* PDP page changes  */
.container .row .product-detail-layout-6{
    max-width: 1200px!important;
    width: 100%;
    margin: 0 auto!important;
    /* padding-top: 200px !important; */
}
.pdp_header_banner {
    height: 400px;
    width: 100%;
    position: relative;
}
.pdp_header_banner::after {
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.35);
}
.pdp_header_banner img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.product-detail-layout-6 .product-box h1{
    color: #0C141D;
    font-family: Jost, sans-serif;
    font-size: 28px;
    letter-spacing: 2.42px;
    line-height: 41px;
}
.product-detail-layout-6 .product-box h2{
    color: #0F0F0F;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 55px !important;
    letter-spacing: 0;
    line-height: 75px;
}
.product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100%!important;
}
.product-detail-layout-6 .product-box .post_typetext p {
    color: #DB2A34;
    font-family: Jost, sans-serif;
    font-size: 14px;
    letter-spacing: 1.21px;
    line-height: 20px;
    text-transform: uppercase;
}
.product-detail-layout-6 .product-box  .product_description {
    font-family: Jost, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    padding: 20px 0 0;
}
.product-detail-layout-6 .dual-button a{
    color: #FFFFFF;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 19px;
    border-radius: 4px;
    background: #000 !important;
    text-decoration: none;
}
.product-detail-layout-6 .dual-button a:hover{
    background: #DB2A34 !important;
}
a.button.alt.custompdpbtn.getcoupon-btn{
    color: #FFFFFF;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 19px;
    border-radius: 4px;
    background: #DB2A34;
    text-decoration: none;
}
a.button.alt.custompdpbtn.getcoupon-btn:hover{
    background: #000;
}
.product-detail-layout-6 .product-attributes>h3{
    color: #0C141D;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 35px;
    letter-spacing: 1.42px;
    line-height: 44px;
}
div#product-attributes-wrap {
    background-color: rgba(246,243,241,0.57);
    padding: 20px 0;
    margin: 90px 0 30px;
}
.product-detail-layout-6 .product-attributes tr th{
    color: #484848;
    font-family: Jost, sans-serif;
    font-size: 20px;
    letter-spacing: 1.73px;
    line-height: 30px;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
}
.product-detail-layout-6 .product-attributes tr td{
    color: #0C141D;
    font-family: Jost, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.73px;
    line-height: 30px;
    vertical-align: middle;
}

.related_pro {
    color: #0C141D;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 35px;
    letter-spacing: 1.42px;
    line-height: 44px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.container .row .product-detail-layout-6 #product-images-holder .bb_quickship {
    border-radius: 4px;
    background-color: #DB2A34;
    box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
    padding: 10px 20px;
    position: absolute;
    top: 30px;
    left: -15px;
    height: auto !important;
    min-height: auto !important;
    width: auto !important;
    min-width: auto;
}
.container .row .product-detail-layout-6 #product-images-holder .bb_quickship p {
    color: #FFFFFE;
    font-family: "Luckiest Guy";
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 35px;
    margin: 0;
    display: block;
    text-transform: uppercase;
}
.container .row .product-detail-layout-6 #product-images-holder .bb_quickship p:hover {
    text-decoration: none;
}
#product-images-holder {
    position: relative;
    overflow: unset;
}
.product-detail-layout-6 .imagesHolder #roomvo{
    padding: 10px !important;
    bottom: 24px;
}
.product-detail-layout-6 .imagesHolder #roomvo a{
    width: 56px;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover{
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    background: #DB2A34 !important;
}
.product-detail-layout-6 .imagesHolder #roomvo a span.room_span {
    display: none;
    color: #fff ;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover span.room_span{
    display: block;
}

.product-detail-layout-6 .imagesHolder #roomvo a i.fa-camera{
    margin-right: 0 !important;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover i.fa-camera{
    margin-right: 10px !important;
    /* background: #000;
    border-radius: 100%;
    padding: 10px !important; */
}

.product-swatch .img-responsive .popup-overlay-link{
    border: 6px solid #FFFFFF;
    box-shadow: 0 16px 74px 0 rgb(0 0 0 / 41%);
}
.product-detail-layout-6 .slide.selected-slide:after{
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* PDP page changes  */

/* breadcrumbs CSS */
div#breadcrumbs {
    position: absolute;
    top: 150px;
    z-index: 99;
    width: 950px;
    margin: 0 auto;
    right: 0;
    left: 0;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
div#breadcrumbs a {
    color: #fff !important;
    text-decoration: underline;
}

/* breadcrumbs CSS */
/* Responsive menu */
.rmp-menu-wrap .rmp-menu-item-link {
    text-transform: uppercase;
}
li.dynamicBrands ul.vendor_brand_menu_list {
    list-style: none;
    padding-left: 10%;
}
li.dynamicBrands ul.vendor_brand_menu_list li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 40px;
}
/*  Responsive menu */

.copayright .fl-rich-text p {
    margin: 0;
}
.gfield_captcha_container {
    text-align: left;
}
.gfield_captcha_input_container.math_small input, .gfield_captcha_input_container.math_medium input {
    width: auto;
}

/* Slider  */
.fl-slide.fl-slide-1.fl-slide-text-center .fl-slide-text p {
    margin: 0 !important;
}
.fl-slide.fl-slide-0.fl-slide-text-center .fl-slide-photo img {
    /* width: 350px; */
}
/* Slider  */
.gform_wrapper .ginput_container.ginput_container_checkbox input, .gform_wrapper .ginput_container.ginput_container_radio input{
    vertical-align: middle;
}
legend.gfield_label.gfield_label_before_complex {
    border: 0;
}


ul.social-icons li a[title^=angiesList]{
    top: 18px;
}
ul.social-icons li a[title^=angiesList]:before {
    background: #db2a34;
    border: 2px solid #db2a34;
   
}
ul.social-icons li a[title^=angiesList] .fab:after {
    border-color: #db2a34 transparent transparent transparent;
}

/* vendor dynamic image code */
.ourVendorsDynamic .fl-rich-text p{
    margin: 0;
    padding: 0;
}
ul.vendor_brand_image_list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
ul.vendor_brand_image_list li {
    width: 33.33%;
    margin: 20px 0;
    text-align: center;
}
.landingPage-VendorsRow ul.vendor_brand_image_list li {
    width: 20%;
}
ul.social-icons li{
    width: 30px;
}
/* vendor dynamic image code */


@media (max-width:1367px){
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button{
        font-size: 12px;
    }
    #wpsl-gmap{
        width: 55%;
    }
}

@media (max-width:1340px){
    p.location-name{
        font-size: 14px;
    }
    span.location-add {
        font-size: 10px;
    }

}
@media (max-width:1280px){
    .header-menu .menu > li > .uabb-has-submenu-container > a{
        font-size: 14px !important;
    }

}
@media (min-width:1025px){
    button.rmp_menu_trigger {
        display: none !important;
    }
}
@media (min-width:769px) and  (max-width:1024px){
    .find-a-retailer-row div#wpsl-gmap, .homepage_locationStore #wpsl-gmap {
        width: 50%;
    }
    .header-location .fl-module-content.fl-node-content {
        width: 75%;
    }
    .bigHeading {
        background: #db2a34;
    }
    .bigHeading .uabb-infobox-text {
        color: #fff;
    }
    .bigHeading > .fl-row-content-wrap {
        margin-top: 0;
    }
    .bigHeading > .fl-row-content-wrap h1, .bigHeading > .fl-row-content-wrap h1 span, .bigHeading > .fl-row-content-wrap h2, .bigHeading > .fl-row-content-wrap h2 span{
        text-align: center;
        font-size: 100px;
    }
    .CTARow > .fl-row-content-wrap {
        padding-bottom: 20px;
    }
    .location_div .bb_location_name{
        max-width: 300px;
    }
    .header-banner .fl-col {
        width: 63%;
    }
    .facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap input.facetwp-search{
        font-size: 12px;
    }
    .hardwoodfont h2.uabb-infobox-title {
        font-size: 80px;
    }
}
@media (max-width:1024px){
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
    .storeloc-content .store_links_main ul li a{
        font-size: 12px;
    }
    .headerNavigation {
        display: none !important;
    }
    .storeloc-map .mapcon_main{
        flex-direction: column;
    }
    .storeloc-map .mapcon_main .mapcon_left_flex {  

        margin-bottom: 10px;
    }
    .rmp_menu_trigger.rmp-menu-trigger-boring {
        top: 55px !important;
    }
    .rmp-menu-wrap .rmp-menu li a {
        text-transform: uppercase;
    }
    div#product-attributes-wrap{
        margin: 90px 0 30px;
    }
    .header-location h2.entry-title.sfnstoretitle{
        text-overflow: unset;
        white-space: unset;
        overflow: unset;
        max-width: initial;
    }
}
@media (max-width:768px){
	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: center;
	}
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
	.max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
    }
    .fl-col.locationflyerCol {
        width: 50% !important;
    }
    div#ajaxstorelisting{
        left: 20px;
        top: auto;
    }
    #wpsl-gmap{
        float: none;
        width: 100%;
        margin: 0 auto 20px;
    }
    div#wpsl-stores .wpsl-store-location{
        text-align: left;
    }
    div#sfnlocator-wrap{
        padding-right: 0;
    }
    .find-a-retailer-row div#wpsl-gmap, .homepage_locationStore #wpsl-gmap, #wpsl-base-gmap_0 {
        height: 350px !important;
    }
    .bigHeading {
        background: #db2a34;
    }
    .bigHeading .uabb-infobox-text {
        color: #fff;
    }
    .location-icon-main {
        text-align: center !important;
    }
    header, .fl-builder-content[data-overlay="1"]:not(.fl-theme-builder-header-sticky):not(.fl-builder-content-editing){
        position: static !important;
        margin-bottom: 10px;
    }
    .logo {
        z-index: auto;
    }
    div#breadcrumbs{
        position: static;
        width: 100%;
        background: #f2f2f285;
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        
    }
    div#breadcrumbs a {
        color: #db2a34 !important;
        text-decoration: none;
    }
    .header-location .fl-icon-wrap {
        display: inline-block;
        justify-content: unset;
        padding: 6px 10px 5px 0;
        align-items: unset;
    }
    .location_div .bb_location_name {
        white-space: unset;
        text-overflow: unset;
        overflow: unset;
        max-width: 100%;
    }
    .rmp_menu_trigger.rmp-menu-trigger-boring {
        top: 50px !important;
    }
    .open_sidebar {
        display: none;
    }
    .header-location .location_div{
        display: unset;
        flex-direction: unset;
        justify-content: unset;
        min-height: auto;
    }
    .storeloc-content .store_links_main {
        padding: 10px;
    }
    .storeloc-content .store_links_main ul, .location-add .mapcon_left_flex{
        justify-content: center;
    }
    .locationMap ul.storename .map-container iframe {
        min-height: 450px !important;
    }
    .homepage-slider .fl-slide.fl-slide-1.fl-slide-text-center h5.uabb-infobox-title-prefix {
        font-size: 35px !important;
        line-height: 50px !important;
    }
    .homepage-slider .fl-slide.fl-slide-1.fl-slide-text-center h2.uabb-infobox-title {
        font-size:50px !important ;
        line-height: 50px !important;
    }
    .ginput_container.ginput_container_checkbox .gfield_checkbox {
        text-align: left;
    }
    .header-location h2.entry-title.sfnstoretitle{
        font-size: 14px;
    }
    
    ul.vendor_brand_image_list li {
        width: 50%;
        margin: 5px 0;
    }
    .landingPage-VendorsRow ul.vendor_brand_image_list li{
        width: 25%;
    }
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
    .fl-col.locationflyerCol {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
    .wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-search-btn-wrap {
        width: 100%;
        display: unset;
        margin: 10px auto 0;
        float: none;
    }
    .wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap {
        width: 100%;
        display: inline-block;
        float: none;
        margin: 0;
    }
    .wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius {
        width: 100%;
    }
    #wpsl-search-wrap .wpsl-dropdown {
        width: 98% !important;
        padding: 7px 12px;
    }
}

@media screen and (max-width: 480px){
    .product-detail-layout-6 .dual-button {
        flex-direction: column;
    }
    .product-detail-layout-6 .product-attributes tr th, .product-detail-layout-6 .product-attributes tr td{
        font-size: 14px;
        line-height: 16px ;
    }
    .pdp_header_banner{
        height: auto;
    }
    .gform_wrapper.gravity-theme .gfield.gfield--width-half{
        -ms-grid-column-span: 12 !important;
        grid-column: span 12 !important;
    }
    .storeloc-content .store_links_main ul {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .storeloc-content .store_links_main ul li a{
        margin-right: 0;
    }
    span.today_hour {
        display: block;
    }
    
    ul.vendor_brand_image_list  {
        flex-direction: column;
    }
    ul.vendor_brand_image_list li, .landingPage-VendorsRow ul.vendor_brand_image_list li {
        width: 100%;
    }
}
@media screen and (max-width: 420px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
        font-size: 10px;
    }
    div#wpsl-stores .wpsl-store-location h3 a, .location_div .bb_location_name, .location-icon-main .find_wrap p.location-name, .location-icon-main .find_wrap .bb_location_name{
        font-size: 14px;
    }
    div#wpsl-stores .wpsl-store-location span {
        font-size: 12px;
    }
    .storeloc-content {
        text-align: center;
    }
    .storeloc-content .store_links_main ul {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .storeloc-content .store_links_main {
        padding: 10px 0;
        text-align: center;
    }
    table.wpsl-opening-hours{
        margin: 0 auto;
    }
    .storeloc-content table.wpsl-opening-hours td.today_hour span{
        display: block;
    }
    .storeloc-content a.fl-button {
        width: 150px;
        margin: 0 auto !important;
    }
}

@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }

}

@media screen and (max-width: 320px){
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
        font-size: 8px;
    }
}
